<div class="page-container">
  <div class="right-side">
    <h3>Profile - David Wu</h3>
    <p class="contact-info">email | david.wuu@gmail.com</p>
    <img class="img-md" src="assets/images/me-point-arena_md.jpg"/>
    <h3>About me</h3>
    <ul>
      <li>I'm from Mountain View, CA</li>
      <li>I split my time between San Francisco, Oakland, and Palo Alto</li>
    </ul>
    <h3>Recent Interests</h3>
    <ul>
      <li>Gardening</li>
      <li>Throwing a frisbee around</li>
      <li>Computer games</li>
      <li>Nature and Urban hikes</li>
    </ul>
    <img class="img-md" src="assets/images/me-ukiah_md.jpg"/>
    <img class="img-md" src="assets/images/me-bike-tour_md.jpg"/>

    <div
      [routerLinkActive]="['active']"
      [routerLink]="['/photos']"
    >
      Currently working on Photos
    </div>

    <div class="footer"></div>
  </div>
</div>
