@import 'mixins';

:host {
  @include standard-demo-page;
  height: 100%;
  width: 100%;
  p {
    margin: 1rem 0 0;
  }
  .helper-container {
    margin-top: 1rem;
    flex: 1 1 0;
    width: 100%;
    min-height: 15rem;
    display: flex;
    .file-explorer-container {
      @include full-file-explorer-container;
      width: 10rem;
    }
    .right-side {
      flex: 1 1 0;
      border: 1px solid $eggshell-darker;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      dwu-code-snippet {
        margin: 0.5rem;
      }
    }
  }

}