app-fuzz-item-list-viewer {
  flex: 1 1 0;
  display: block;
  overflow: auto;
  b {
    font-weight: 600;
    color: green;
  }
  i {
    font-style: italic;
    color: purple;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    tr:not(:first-child) {
      &:hover {
        background-color: #eef8ff;
        th.matched-cell, td.matched-cell {
          background-color: #ddffdd;
        }
      }
      &.selected {
        background-color: #ddeeff;
        th.matched-cell, td.matched-cell {
          background-color: #ccffcc;
        }
      }

      td {
        border-top: 1px solid #dddddd;
      }
    }
    th {
      font-weight: 600;
    }
    th, td {
      padding: 0.5rem 1rem;
      min-width: 10rem;
      white-space: nowrap;

      &.score-column {
        min-width: 2rem;
        width: 2rem;
      }
      &.matched-cell {
        background-color: #eeffee;
      }
    }
  }

  .no-entries-found {
    max-width: 100%;
    margin: 2rem 1.5rem;
  }
}