
$dark-green: #292E12;
$army-green: #4B5320;
$olive-green: #708238;
$moss-green: #8A9A5B;
$laurel-green: #BAC39F;

$saturated-olive: #729900;
$saturated-blue: #164EB7;

// nice for text against dark background
$light-green: #F4F7EA;
$lightest-green: #FCFCF9;

// Used for file selector
$eggshell-darker: #DDD9CF;
$eggshell-dark: #EAE6DA;
$eggshell: #EFEBDF;
$eggshell-light: #F2EEE1;

// grays
$basically-black: #202124;
$black-olive: #3F4038;
$granite: #65635F;
$lighter-gray: #9D9B99;
$white: #fff;

$gold: #D6B902;
$star-blue: #1D62C4;

$break-small: 550px;
$break-md: 800px;
$break-large: 1024px;
