<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./styles.css">
	</head>

	<body ng-app="Main" ng-controller="mainController">

		<div ng-if="allUsers">
			<h3>Users</h3>
			<user-list ids="allUsers" on-select="selectUserHandler"></user-list>
		</div>

		<div ng-if="selectedAppIds" style="margin-top: 15px;">
			<h3>Apps</h3>
			 <app-list ids="selectedAppIds"></app-list>
		</div>

		<script src="./angular.min.js"></script>
		<script src="./index.js"></script>
		<script src="./services/appService.js"></script>
		<script src="./services/userService.js"></script>
		<script src="./directives/appList.js"></script>
		<script src="./directives/userList.js"></script>
	</body>
</html>