<dwu-virtual-scroll-grid
  *ngIf="fileIds; else loaderForPage"
  [tileIds]="fileIds"
  [tileTemplate]="tileTemplate"
  [tileOptions]="tileOptions"
  [maxColumns]="zoomLevel"
  [(alwaysUseMaxColumns)]="alwaysUseMaxColumns"
  [(centeredTileId)]="centeredTileId"
  class="near-by-uploads"
></dwu-virtual-scroll-grid>
<ng-template
  #tileTemplate
  let-scaledImageWidthStr="scaledImageWidthStr"
  let-scaledImageHeightStr="scaledImageHeightStr"
  let-tileId="tileId"
  let-targetTileOption="targetTileOption"
>
  <div
    class="tile"
    [style.width]="scaledImageWidthStr"
    [style.height]="scaledImageHeightStr"
  >
    <dwu-decorated-image
      [src]="getImgSrc(tileId, targetTileOption.maxWidth)"
      (zoomIn)="onZoomIn(tileId)"
      (download)="downloadImage(tileId)"
      (delete)="onDeleteImage(tileId)"
      class="grid-image"
    ></dwu-decorated-image>
  </div>
</ng-template>

<ng-template #loaderForPage>
  <div class="loader-container for-page">
    <div class="dwu-loader"></div>
  </div>
</ng-template>

<div
  *ngIf="magnifiedImageId"
  (click)="magnifiedImageId = undefined"
  class="magnified-image-container"
>
  <img [src]="getImgSrc(magnifiedImageId, 1080)" class="magnified-image">
</div>
