.selected-file{
	background-color: lime;
}

.file-item{
	display: flex;
	padding: 5px;
}

.file-item > * {
	padding: 5px;
}

.inline-block {
	display: inline-block;
	vertical-align: top;
}

.child-container {
	/*max-height: 200px;*/
	overflow-y: auto;
}