<html>
	<head>
		<title>Go to red dot</title>
		<link rel="stylesheet" type="text/css" href="reset.css">
		<link rel="stylesheet" type="text/css" href="bundle.css">
	</head>
	<body ng-app="Main" ng-controller="mainController" ng-jq="$">

		<div visualizer custom-bot="note.content"></div>

		<div class="flex right-bar" ng-class="{'expanded': noteExpanded}" style="flex-direction: column; height: 100%;">
			<div class="flex" style="justify-content:space-around; min-height:50px; align-items: center;">
				<div class="clickable" ng-click="noteExpanded=!noteExpanded" style="background-color: beige">Expand</div>
				<div class="clickable" ng-click="console.log('rerun')" style="background-color: whitesmoke">Run</div>
			</div>
			<div note-editor note="note" style="flex: 1 1 0;"></div>
		</div>


		<script src="/ace.js" type="text/javascript" charset="utf-8"></script>
		<script src="/bundle.js"></script>
	</body>
</html>