<div>

	<div class="flex" style="width:100%; height:100%;">

		<div class="flex column" style="flex: 0 0 auto; padding: 10px;">
			<project-list-viewer
				*ngIf="projectList"
				[projectList]="projectList"
				[selectedProject]="selectedProject"
				(selectedProjectChange)="onSelectProject($event)"
				(createProject)="onCreateProject($event)"
			></project-list-viewer>

			<file-list-viewer
				*ngIf="fileList"
				[fileList]="fileList"
				[(selectedFile)]="selectedFile"
				(createFile)="onCreateFile($event)"
				style="margin-top: 10px;"
			></file-list-viewer>
		</div>

		<div class="flex" style="flex: 1 0 auto; padding: 10px;">

			<project-viewer
				class="flex column"
				style="flex: 1 0 0;"
				*ngIf="selectedProject"
				[selectedProject]="selectedProject"
				(updateProject)="onUpdateProject($event)"
				(deleteProject)="onDeleteProject($event)"
			></project-viewer>

			<file-viewer
				style="flex: 1 0 0;"
				*ngIf="selectedFile"
				[selectedFile]="selectedFile"
				(updateFile)="onUpdateFile($event)"
				(deleteFile)="onDeleteFile($event)"
			></file-viewer>

		</div>
</div>