
[visualizer] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.right-bar {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 80%;
	transition-duration: 0.3s;
}

.right-bar.expanded {
	left: 100px;
}

.toggle-button {
	background-color: blue;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  .column{
  	flex-direction: column;
  }

}

.clickable {
	cursor: pointer;
}
.clickable:hover {
	opacity: 0.85;
}

.pts{padding-top: 5px;}
.prs{padding-right: 5px;}
.pbs{padding-bottom: 5px;}
.pls{padding-left: 5px;}
.pas{padding: 5px;}
.mts{margin-top: 5px;}
.mrs{margin-right: 5px;}
.mbs{margin-bottom: 5px;}
.mls{margin-left: 5px;}

.ptm{padding-top: 10px;}
.prm{padding-right: 10px;}
.pbm{padding-bottom: 10px;}
.plm{padding-left: 10px;}
.pam{padding: 10px;}
.mtm{margin-top: 10px;}
.mrm{margin-right: 10px;}
.mbm{margin-bottom: 10px;}
.mlm{margin-left: 10px;}

.ptl{padding-top: 15px;}
.prl{padding-right: 15px;}
.pbl{padding-bottom: 15px;}
.pll{padding-left: 15px;}
.pal{padding: 15px;}
.mtl{margin-top: 15px;}
.mrl{margin-right: 15px;}
.mbl{margin-bottom: 15px;}
.mll{margin-left: 15px;}

