<h2>Fuzz-js</h2>
<div class="demo-container">
  <p>
    fuzz-js is an open source fuzzy string searching library written in JavaScript.
    It finds imperfect string matches inside a given array of objects.
  </p>

  <h3># Live Demo</h3>
  <p>
    Type something into the input field below to see it in action!
    Select a row for some visualizations on how the match was scored.
  </p>

  <p class="demo-page-container">
    <app-demo-page></app-demo-page>
  </p>

  <h3># How scoring works</h3>
  <p>
    Scoring is based on "edit distance" or how many operations it takes to transform one string into the other.  At the bottom of the search demo, there is a tab labeled "Fuzzalytics".
    When you select a row, a colored grid shows up in that tab.
  </p>
  <p>
    The first grid is the operation matrix.
    The query string is displayed down the left hand side of the grid, and the subject string is displayed along the top.
    The cells marked "o" are the operations taken to change the query string into the subject string.
  </p>
  <img src="assets/images/operationMatrix.png">
  <p>
    These operations have some cost associated with them.
    The lowest cost path path is found by filling in the edit cost grid.
    You can view the edit costs by clicking on the "View Scores" button.
  </p>
  <img src="assets/images/editCostMatrix.png">
  <p>
    You can read more about how edit distance works here:
    <a target="_blank" href="https://en.wikipedia.org/wiki/Levenshtein_distance">https://en.wikipedia.org/wiki/Levenshtein_distance</a>
  </p>

  <h3># Installing</h3>
  <dwu-code-snippet [snippet]="'npm install --save fuzz-js'"></dwu-code-snippet>
  <!-- <pre class="code code-block"><code>npm install --save fuzz-js</code></pre> -->

  <h3># Usage</h3>
  <p>The "filter" function filters out objects that do not pass the fuzz test.</p>
  <dwu-code-snippet [snippet]="codeBlocks.howToUse"></dwu-code-snippet>

  <h3># Advanced Usage</h3>
  <p>
    The "search" function returns additional search information.
    This includes the key of the matched string, edit distance, and a styled string based on the match ranges.
  </p>
  <p>
    The "search" function also accepts an options object for customizing the search.
    To try out different options, go to the "Search Options" tab in the demo above.
  </p>
  <p>
    If subjectKeys is not provided, the default behavior is to search all (deep) values within the object.
  </p>
  <dwu-code-snippet [snippet]="codeBlocks.howToUseHard"></dwu-code-snippet>
  <h3># Similar libraries</h3>
  <p>
    fuse.js is a popular library.
    <a href="https://fusejs.io/" target="_blank">https://fusejs.io/</a>
  </p>
  <p>
    Also check out npmtrends for some other alternatives here:
    <a href="https://www.npmtrends.com/elasticlunr-vs-fuse.js-vs-fuzzy-vs-fuzzysearch-vs-lunr" target="_blank">
      https://www.npmtrends.com/elasticlunr-vs-fuse.js-vs-fuzzy-vs-fuzzysearch-vs-lunr
    </a>
  </p>

  <h3># Github</h3>
  <p>
    Check this out on github!
    <a href="https://github.com/david-wu/fuzz" target="_blank">https://github.com/david-wu/fuzz</a>
  </p>
</div>