@import 'mixins';

:host {
  @include top-nav-page;

  dwu-file-explorer {
    display: flex;
    height: 100%;
    width: 100%;
  }
}

.top-nav {
  background-color: $eggshell-darker;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.view-tabs {
    display: flex;
    .view-tab {
        @include light-mini-button;
        padding: 0.25rem 1rem;
    }
}